/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fixed width container class that will "auto-center" itself */
.container {
    width: 1200px;
    margin: 0 auto;
}

/* Favorite button from Button Up assignment */
.btn {
    background: rgb(240, 238, 238);
    color: rgb(24, 172, 157);
    border: 2px solid rgb(24, 172, 157);
    border-radius: 1em;
    display: block;
    padding: 6px;
    width: 9em;
    font-weight: bold;
    font-size: 1.1em;
}

/* Row and Column classes from FLEX-ible Columns assignment */
.row{
    display:flex;
}
.col{
    flex:1;
    background-color:rgb(202, 248, 242)
}
.col-2{
    flex:2;
    background-color:rgb(128, 233, 128)
}
.col-3{
    flex:3;
    background-color:rgb(148, 188, 240)
}

/* Navbar classes from Flex Navbar assignment */
.nav{
    display:flex;
    justify-content:space-between;
    background-color:rgb(59, 59, 59);
    margin:0px;
    padding:0px;
}
.nav-title{
    margin-left:20px;
}
.nav-links{
    display:flex;
    margin:0 20px;
    list-style-type:none;

/* Sign Out button from Profile Page assignment */
.btn{
    box-shadow:3px 3px 3px black;
    border-color:black;
    color:white;
    font-size:14px;
    border-width:3px;
    width:6.5em;
    height:2.5em;
    margin-right:60px;
    background-color:rgb(0, 153, 255);
}