<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Dojo Survey</title>
</head>
<body>
    <div class="container">
        <form action="/submit" method="post" class="bg-dark p-3 text-white">
            <label class="form-label h3" for="name">Your Name:
                <input class="form-control mb-3" type="text" name="Name" id="name">
            </label>
            <label class="form-label h3" for="name">Dojo Location:
                <select class="form-select mb-3" name="Location" id="location">
                    <option value="Online">Online</option>
                    <option value="Los angeles">Bellevue</option>
                    <option value="San francisco">Los Angeles</option>
                </select>
            </label>
            <label class="form-label h3" for="name">Favorite Language:
                <select class="form-select mb-3" name="Language" id="language">
                    <option value="Python">Python</option>
                    <option value="JavaScript">JavaScript</option>
                </select>
            </label>
            <label class="form-label h3" for="comment">Comment:</label>
                <textarea class="form-control mb-3" name="Comment" id="comment" cols="30" rows="10"></textarea>
            <p class="h3 row p-2 ">Gender:</p>
            <div class="row">
                <label for="male" class="form-label">Male</label>
                <input type="radio" name="Gender" id="male" value="Male"><br>

                <label for="female" class="form-label">Female</label>
                <input type="radio" name="Gender" id="female" value="Female"><br>

                <label for="other" class="form-label">Other</label>
                <input type="radio" name="Gender" id="other" value="Other">

                <label for="pnts" class="form-label">Prefer Not To Say</label>
                <input class="radio"type="radio" name="Gender" id="pnts" value="Prefer Not To Say">
            </div>
            <p class="h3">Subscribe to email list?</p>
            <div class="row">
                <label for="yes">Yes</label>
                <input type="checkbox" name="Subscribe to email list" id="yes" value="Yes">
                <label for="yes">No</label>
                <input type="checkbox" name="Subscribe to email list" id="no" value="No">
            </div>

            <input type="submit" value="SUBMIT" class="btn-primary row m-1 p-2">
        </form>
    </div>
</body>
</html>