<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Info Page</title>
</head>
<body>
    <div class="container mt-5">
        <div class="row bg-dark text-white p-5 ">
            <h1 class="h2 ">Submitted Info</h1>
            {% for key, value in session['form'].items() %}
            <div class="row justify-content-center">
                <p class="h3 col">{{ key }}</p>
                <p class="h3 col">{{ value }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
