h1 {
    color: white;
    background-color: black;
    text-align: left;
    font-family: monospace;
    font-weight: bold;
}
span {
    color: cyan
}
h2 {
    color: white;
    background-color: rebeccapurple;
    text-align: center;
    font-style: italic; 
    font-family: sans-serif;
    font-weight: lighter;
}
h3 {
    background-color: paleturquoise;
    text-align: right;
    font-family: sans-serif;
    font-weight: normal;
}
