<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>User Dashboard Menu</title>
</head>
<body>
    <!-- navbar-->
    <div class="container mt-3">
        <div class="d-flex pd-2 bd-highlight row">
            <div class="col">
                <!-- 'Welcome' heading-->
                <h1 class="h1 col-sm-9">Welcome, {{ user.first_name }}!</h1>
                <!-- navbar subtext-->
                <p>These are the recipes</p>  
            </div>
            <div class="col">
                <!-- 'Create' button hyperlinked to 'recipes/new'-->
                <a href="/recipes/new" class="btn-primary p-2 mt-4">Create New Recipe</a>
                <!-- 'Logout' button hyperlinked to URL '/users/logout/'-->
                <a href="/users/logout" class="btn-primary p-2 mt-4">Logout</a>  
            </div>
        </div>
    </div>
    <!-- Recipes Table------------------------------------------------------------------------------->
    <div class="container mt-3">
        <table class="table-light table-sm table-striped table-hover table-bordered">
            <!-- Headings-->
            <thead>
                <tr scope="row">
                    <th scope="col">Name</th>
                    <th scope="col">Under 30 Minutes?</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <!-- Body-->
            <tbody>
                {% for recipe in all_recipes %}
                <tr scope="row">
                    <td>{{recipe.name}}</td>
                    <!-- 'Under 30 Minutes?' section-->
                    <td>{{recipe.under_30}}</td>
                    <!-- 'Actions' section-->
                    <td>
                        <!-- 'view instructions' redirect to /recipes/#-->
                        <a class="actions" href="/recipes/{{recipe.id}}">view instructions</a> 
                        <!-- 'edit' redirect to recipes/edit/#-->
                        <a class="actions" href="/recipes/edit/{{recipe.id}}">edit</a> 
                        <!-- 'delete' redirect to recipes/#/destroy-->
                        <a class="actions" href="/recipes/delete/{{recipe.id}}">delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>