*{
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
}

.nav{
    height: 50px;
    width: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(175, 172, 172);
    margin-bottom:20px;
}

.nav-title{
    padding-left: 15px;
}

.search-box{
    height:20px;
    width:250px;
    border: 3px solid black;
    margin-left:-30px;
}

.btn{
    width: 60px;
    margin-right: 10px;
    font-size: 15px;
    box-shadow: 3px 3px 3px black;
    color:white;
    background-color: rgb(44, 119, 218);
    border: 2px solid black;
    margin:0 20px 5px 0;
}

.ALLcontainer{
    display:flex;
}

.LEFTcontainer{
    width:360px;
    height:330px;
    margin-left:78px;
    display: flex 2;
}

.box1,.box2{
    display:flex;
    align-items: center;
    margin-bottom: 20px;
    outline: 2px solid black;
    height:150px;
}

.col1-1,.col2-1{
    margin-left: 15px;
}

.col1-2,.col2-2{
    margin-left: 30px;
}

.likes{
    margin:10px 0;
    width: 75px;
    height: 25px;
    font-size: 15px;
    background-color: rgb(248, 233, 20);
    outline: .5px solid black;
    box-shadow: 2px 2px 0px 0px black;
}

.noun{
    text-align: center;
    padding: 5px 0px;
}

.plural{
    padding:4px 0;
}

.RIGHTcontainer{
    width:200px;
    height:125px;
    border:2.5px solid black;
    display:flex;
    margin-left:32px;
}

.box3{
    padding-top: 10px;
    flex: 1;
}

h2{ 
    margin-left: 10px;
}

.def-btn{
    background-color: rgb(125, 189, 30);
    width: 150px;
    height: 30px;
    font-size: 15px;
    outline: .5px solid black;
    box-shadow: 3px 3px 3px black;
    border:2px solid black;
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}
