<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css')}}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>Playground Assignment</title>
</head>

<body>
    <h1>Welcome to Playground!</h1>
    <p class="p1"><strong><em>To alter boxes, type in the following into the URL:</em></strong></p>
    <p><strong>/play/(x)</strong> --- to display x number of boxes</h4>
    <p><strong>/play/(x)/(color)</strong> --- to display x number of boxes in chosen color</h4>
    <div class="container">
        {% if not number: %}
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            {% else: %}
                {% for i in range(number): %}
                <div class="box {{color}}" id="{{i}}" ></div>
                {% endfor %}
        {% endif %}
    </div>
</body>

</html>